.navbar-inverse {
    background-color:#CD5C5C;
    border-color:#F08080
}

.navbar-inverse .navbar-nav>li>a{
    color:white
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color:white
}

img{
    margin-left:auto;
    margin-right:auto;
}
